# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/

# Environment variables
.env
*.env

# macOS stuff
.DS_Store

# Pytest cache
.pytest_cache/

# VSCode
.vscode/

# PyCharm
.idea/

# Docker
*.log
docker-compose.override.yml

# MyPy / Pylint / coverage
.mypy_cache/
.coverage
coverage.xml
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/

# Notebooks
.ipynb_checkpoints/